<!DOCTYPE html>
<html lang="en">
  
  <%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/header.ejs') %>
  <main id="carrot-image">
    <form id= 'search-field' action='/pages' method='post'>
      <p id='not-found'><%= not_found %></p>
      <input type='text' name='search' placeholder='Enter Plant Name' required>
      <input type='hidden' name='user_key' value="<%= user %>">
      <button type='submit'>Search</button>
    </form>
  </main>
  
  <%- include('./partials/footer.ejs') %>
</body>

</html>