<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

  <%- include('../partials/header.ejs') %>

  <main id="details-main">
    <div id="details-div">
      <div>
        <h2><%= detailsTarget.name %></h2><br>
        <p><%= detailsTarget.description %></p><br>
        <img id="detail-image" src="<%= detailsTarget.image_url %>" alt="garden image"><br><br>


        <button id="plant-details">See Plant Details</button>
        <div id="hide-details" hidden>
          <h4 class="plant-text">Optimal Sun:</h4>
          <p><%= detailsTarget.optimal_sun %></p><br>
          <h4 class="plant-text">When to Plant:</h4>
          <p><%= detailsTarget.when_to_plant %></p><br>
          <h4 class="plant-text">Spacing:</h4>
          <p><%= detailsTarget.spacing %></p><br>
          <h4 class="plant-text">Watering:</h4>
          <p><%= detailsTarget.watering %></p><br>
          <h4 class="plant-text">Feeding:</h4>
          <p><%= detailsTarget.feeding %></p><br>
          <h4 class="plant-text">Harvesting:</h4>
          <p><%= detailsTarget.harvesting %></p><br>
          <h4 class="plant-text">Growing From Seed:</h4>
          <p><%= detailsTarget.growing_from_seed %></p><br>
          <h4 class="plant-text">Optimal Soil:</h4>
          <p><%= detailsTarget.optimal_soil %></p><br>
          <h4 class="plant-text">Other Care:</h4>
          <p><%= detailsTarget.other_care %></p><br>
          <h4 class="plant-text">Diseases:</h4>
          <p><%= detailsTarget.deseases %></p><br>
          <h4 class="plant-text">Pests:</h4>
          <p><%= detailsTarget.pests %></p><br>
          <h4 class="plant-text">Storage Use:</h4>
          <p><%= detailsTarget.storage_use %></p><br>
        </div>
        <button id='editButton'>Edit Notes</button>

        <% notesArray.forEach(note => { %>

        <p class='modifyP'><%= note.user_notes %></p>


        <form class='modifyForm' style='display:none' action='/updateNotes/<%- note.id %>?_method=PUT' method='post'>
          <input class='modifyInput' name='notes' type='text' value='<%= note.user_notes %>'>
          <button type='submit' class='saveButton'>Save</button>
        </form>

        <form action='/notes/<%= note.id %>?_method=DELETE' method='post'>
          <button type='submit'>Delete</button>
        </form><br>
        <%  }) %>


        <p><%= detailsTarget.notes %></p><br>

        <form id='notes-form' action='/addNote/<%- detailsTarget.id %>?_method=PUT' method='post'>
          <input type='text' name='notes' placeholder='add your note here'>
          <button type='submit'>Add Note</button>
        </form>
      </div>
    </div>
  </main>

  <%- include('../partials/footer.ejs') %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../../js/app.js"></script>
</body>

</html>