<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head.ejs') %>

<body>

  <%- include('../partials/header.ejs') %>
<main id="results-image">
  <div>
  <% target.forEach(plant => { %>
 
    <section id="greenhouse-page">

      <img id="plant-image" src="<%= plant.image_url %>">
       <a id="gh-id" href="/details/<%= user %>/<%=plant.id %>"><%= plant.name %> </a>
        
      


      <form action="/greenhouse/<%= plant.id %>?_method=DELETE" method="post">
        <button type="submit">Remove from Greenhouse</button>
      </form>

    </section>  
        
    <%  }) %>
      
  </div>
</main>
  <%- include('../partials/footer.ejs') %>
  
</body>
</html>