<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>

  <%- include('../partials/header.ejs') %>

  <main id="results-image">
    <div>
      <h1 id="temp"><%= temp%> ℉</h1>
    </div>

    <div>
      <% target.forEach(plant => { %>

      <section id="greenhouse-page">

        <img id="plant-image" src="<%= plant.image_url %>">

        <div id="link-container">
          <a id="gh-id" href="/details/<%=plant.id %>"><%= plant.name %> </a>

          <form action="/greenhouse/<%= plant.id %>?_method=DELETE" method="post">
            <button id="remove-button" type="submit">Remove from Greenhouse</button>
          </form>
        </div>
      </section>

      <%  }) %>

    </div>
  </main>

  <%- include('../partials/footer.ejs') %>

</body>

</html>