<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head.ejs') %>

<body>

  <%- include('../partials/header.ejs') %>

  <div>
  <% target.forEach(plant => { %>
 
    <section>

      <img src="<%= plant.image_url %>">
      <h2><%= plant.name %></h2>

      <form action="/greenhouse/<%= plant.id %>?_method=DELETE" method="post">
        <button type="submit">Remove from Greenhouse</button>
      </form>

    </section>  
        
    <%  }) %>
      
  </div>

  <%- include('../partials/footer.ejs') %>
  
</body>
</html>