<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/header.ejs') %>
  <main id="results-image">
    <!-- <div id="results-image"></div>
    <div id="opacity"></div> -->
    <div id="results-main">
      <h2><%= target.name %></h2><br>
      <p><%= target.description %></p><br>
      <img id="plant-image" src="<%= targetImg %><%= target.image_url %>" alt="garden image"><br>
      
      <form id="plant-info" action=""></form>
      <h4 class="plant-text">Optimal Sun:</h4>
      <p><%= target.optimal_sun %></p><br>
      <h4 class="plant-text">When to Plant:</h4>
      <p><%= target.when_to_plant %></p><br>
      <h4 class="plant-text">Spacing:</h4>
      <p><%= target.spacing %></p><br>
      <h4 class="plant-text">Watering:</h4>
      <p><%= target.watering %></p><br>
      <h4 class="plant-text">Feeding:</h4>
      <p><%= target.feeding %></p><br>
      <h4 class="plant-text">Harvesting:</h4>
      <p><%= target.harvesting %></p><br>
      <h4 class="plant-text">Growing From Seed:</h4>
      <p><%= target.growing_from_seed %></p><br>
      <h4 class="plant-text">Optimal Soil:</h4>
      <p><%= target.optimal_soil %></p><br>
      <h4 class="plant-text">Other Care</h4>
      <p><%= target.other_care %></p><br>
      <h4 class="plant-text">Diseases</h4>
      <p><%= target.diseases %></p><br>
      <h4 class="plant-text">Pests:</h4>
      <p><%= target.pests %></p><br>
      <h4 class="plant-text">Storage Use:</h4>
      <p><%= target.storage_use %></p><br>
    </div>





    <% if(alreadyExists){ %>
    <a href="greenhouse.ejs">Go To Greenhouse</a>
    <% } else { %>
    <form id="search-form" action="/addplant" method="post">

      <button type="submit">Add to Greenhouse</button>
      <input type="hidden" name="name" value="<%= target.name %>">
      <input type="hidden" name="description" value="<%= target.description %>">
      <input type="hidden" name="image_url" value="<%= target.image_url %>">
      <input type="hidden" name="optimal_sun" value="<%= target.optimal_sun %>">
      <input type="hidden" name="optimal_soil" value="<%= target.optimal_soil %>">
      <input type="hidden" name="planting_considerations" value="<%= target.planting_considerations %>">
      <input type="hidden" name="when_to_plant" value="<%= target.when_to_plant %>">
      <input type="hidden" name="growing_from_seed" value="<%= target.growing_from_seed %>">
      <input type="hidden" name="transplanting" value="<%= target.transplanting %>">
      <input type="hidden" name="spacing" value="<%= target.spacing %>">
      <input type="hidden" name="watering" value="<%= target.watering %>">
      <input type="hidden" name="feeding" value="<%= target.feeding %>">
      <input type="hidden" name="other_care" value="<%= target.other_care %>">
      <input type="hidden" name="diseases" value="<%= target.diseases %>">
      <input type="hidden" name="pests" value="<%= target.pests %>">
      <input type="hidden" name="harvesting" value="<%= target.harvesting %>">
      <input type="hidden" name="storage_use" value="<%= target.storage_use %>">
    </form>
    <% } %>
  </main>

  <%- include('../partials/footer.ejs') %>

</body>

</html>