<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/header.ejs') %>
<main>
  <div>
    <img src="<%= targetImg %><%= target.image_url %>" alt="garden image"><br>
    <form action=""></form>

    <h2><%= target.name %></h2><br>
    <p><%= target.description %></p><br>
    <p><%= target.optimal_sun %></p><br>
    <p><%= target.when_to_plant %></p><br>
    <p><%= target.spacing %></p><br>
    <p><%= target.watering %></p><br>
    <p><%= target.feeding %></p><br>
    <p><%= target.harvesting %></p><br>
    <p><%= target.growing_from_seed %></p><br>
    <p><%= target.optimal_soil %></p><br>
    <p><%= target.other_care %></p><br>
    <p><%= target.deseases %></p><br>
    <p><%= target.pests %></p><br>
    <p><%= target.storage_use %></p><br>

  </div>




  <% if(alreadyExists){ %>
      <a href="/greenhouse">Go To Greenhouse</a>
  <% } else { %>
      <form id="search-form" action="/addplant" method="post">
    
        <input type = "hidden" name = "name" value = "<%= target.name %>">
        <input type = "hidden" name = "description" value = "<%= target.description %>">
        <input type = "hidden" name = "image_url" value = "<%= target.image_url %>">
        <input type = "hidden" name = "optimal_sun" value = "<%= target.optimal_sun %>">
        <input type = "hidden" name = "optimal_soil" value = "<%= target.optimal_soil %>">
        <input type = "hidden" name = "planting_considerations" value = "<%= target.planting_considerations %>">
        <input type = "hidden" name = "when_to_plant" value = "<%= target.when_to_plant %>">
        <input type = "hidden" name = "growing_from_seed" value = "<%= target.growing_from_seed %>">
        <input type = "hidden" name = "transplanting" value = "<%= target.transplanting %>">
        <input type = "hidden" name = "spacing" value = "<%= target.spacing %>">
        <input type = "hidden" name = "watering" value = "<%= target.watering %>">
        <input type = "hidden" name = "feeding" value = "<%= target.feeding %>">
        <input type = "hidden" name = "other_care" value = "<%= target.other_care %>">
        <input type = "hidden" name = "diseases" value = "<%= target.diseases %>">
        <input type = "hidden" name = "pests" value = "<%= target.pests %>">
        <input type = "hidden" name = "harvesting" value = "<%= target.harvesting %>">
        <input type = "hidden" name = "storage_use" value = "<%= target.storage_use %>">
    
        <button type = "submit">Add to Greenhouse</button>
    
      </form>

  <% } %>
</main>

  <%- include('../partials/footer.ejs') %>

</body>

</html>